.margin{
    margin: 10px;
}
.border{
    border: 2px solid black;
}
h1{
    text-align: center;
}
#divpole{
    width: 600px;
    height: 300px;
    padding: 0;
    margin: 3%;
}
#divpole,#divpole2 table {
    height: 100%;
    width: 100%;
}
#divpole,#divpole2 td,th{
    border: 1px solid black;
}
#divpole,#divpole2 tr:nth-child(n+2) td {
    border-top: none;
}
/*#divpole tr td:nth-child(n+2) {*/
    /*border-left: none;*/
/*}*/

#time{
    margin-left: 5%;
    font-size: 15px;
}
#divpole2{
    width: 600px;
    padding: 0;
    margin: 3%;
}

#hiddendiv{
    border: 1px solid black;
    display: none;
}
#container2 {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}
#field {
    height: 600px;
    width: 600px;
}

.cells {
    box-sizing: border-box;
    float: left;
}